<div class="card max-w-md mx-auto">
  <div class="card-content">
    <h2 class="heading-2">Resend confirmation instructions</h2>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :username, class: "label" %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "login", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.username), class: "input" %>
      </div>

      <%= f.submit "Send instructions", class: "btn-primary" %>
    <% end %>
  </div>

  <hr class="border-slate-200" />

  <div class="card-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
