<%= form_with model: opt_out_request do |f| %>
  <% if opt_out_request.errors.any? %>
    <div id="error_explanation" class="p-4 rounded-2xl bg-red-100 text-red-800 text-sm mt-4 mb-5">
      <h3><%= pluralize(opt_out_request.errors.count, "error") %> prohibited this request from being saved:</h3>
      <ul class="list-disc list-inside">
        <% opt_out_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= label(:opt_out_request, :request_type, class: 'label required') %>
    <%= f.select :request_type, OptOutRequest.request_types.keys.map { |w| [w.humanize, w] }, {}, { class: 'select' } %>
  </div>

  <div class="mb-3">
    <%= label :opt_out_request, :name, class: 'label required' %>
    <%= f.text_field :name, class: 'input', required: true %>
  </div>

  <div class="mb-3">
    <%= label(:opt_out_request, "Address", nil, class: 'label required') %>
    <%= f.text_field :street_address, class: 'input', required: true, placeholder: '4845 Pearl East Cir Ste 118' %>
  </div>

  <div class="grid md:grid-cols-4 gap-4 mb-3">
    <div class="md:col-span-2">
      <%= f.text_field :city, class: 'input', required: true, placeholder: 'Boulder' %>
    </div>
    <%= f.text_field :state, class: 'input', required: true, placeholder: 'CO' %>
    <%= f.text_field :postal_code, class: 'input', required: true, placeholder: '80301' %>
  </div>

  <%= submit_tag "Send", class: 'btn-primary' %>
<% end %>
