<tr id="<%= dom_id opt_out_request %>">
  <td>
    <%= opt_out_request.id %>
  </td>
  <td>
    <%= opt_out_request.request_type %>
  </td>
  <td>
    <%= opt_out_request.name %>
  </td>
  <td>
    <%= opt_out_request.street_address %><br />
    <%= opt_out_request.city %>, <%= opt_out_request.state %> <%= opt_out_request.postal_code %>
  </td>
  <td class="text-xs">
    <%= opt_out_request.meta_data %>
  </td>
  <td>
    <%= opt_out_request.created_at %>
  </td>
  <td>
    <%= button_to "X", opt_out_request_path(opt_out_request), form: { data: { turbo_confirm: 'Are you sure?' } }, method: :delete %>
  </td>
</tr>
