<div class="card max-w-md mx-auto">
  <div class="card-content">
    <h2 class="heading-2">Sign In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: "label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-start mb-3">
          <div class="flex items-center h-5">
            <%= f.check_box :remember_me, class: "checkbox" %>
          </div>
          <%= f.label :remember_me, class: "label ml-2" %>
        </div>
      <% end %>

      <%= f.submit "Log in", class: "btn-primary" %>
    <% end %>
  </div>

  <hr class="border-slate-200" />

  <div class="card-content">
    <%= render "devise/shared/links" %>
  </div>
</div>
