<header class="bg-slate-300">
  <div class="container mx-auto p-4 flex flex-row">
    <a href="<%= root_path %>" class="basis-1/4">
      <%= image_tag 'logo.png', alt: t('assets.logo'), title: t('assets.logo'), width: "130" %>
    </a>
    <div class="basis-3/4">
      <ul class="float-right">
        <% if user_signed_in? %>
          <li class="">
            <%= link_to edit_user_registration_path, class: "" do %>
              Edit Account
            <% end %>
          </li>
          <li class="">
            <%= link_to destroy_user_session_path, method: :delete, class: "" do %>
              Sign Out
            <% end %>
          </li>
        <% else %>
          <li class="">
            <%= link_to new_user_session_path, class: "" do %>
              Sign In
            <% end %>
          </li>
          <li class="">
            <%= link_to new_user_registration_path, class: "" do %>
              Sign Up
            <% end %>
          </li>
        <% end %>
      </ul>
      </div>
  </div>
</header>
